@page
@model sueldo_rrhh.Pages.Admin.Conceptos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Concepto[0].Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Concepto[0].Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Concepto[0].Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Concepto[0].Remunerativo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Concepto[0].Convenio)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Concepto)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remunerativo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Convenio.Nombre)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>