@page
@model sueldo_rrhh.Pages.Empresas.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Empresa</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.CUIT)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.CUIT)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.Categoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.Categoria)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.Direccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.Telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.Web)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.Web)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.Logo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.Logo)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Empresa.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
