@page
@model sueldo_rrhh.Areas.Identity.Pages.Account.Manage.PersonalDataModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h3>Datos Personales</h3>

<p>
    <strong>Nombre Completo:</strong>
    @Model.PersonaHistorial.NombreCompleto
</p>

<p>
    <strong>CUIL:</strong>
    @Model.PersonaHistorial.CUIL
</p>

<p>
    <strong>Fecha de Nacimiento:</strong>
    @Model.PersonaHistorial.FechaNacimiento.Date.ToString("dd/MM/yyyy")
</p>

<p>
    <strong>Edad:</strong>
    @(DateTime.Now.Year - Model.PersonaHistorial.FechaNacimiento.Year)
</p>

<p>
    <strong>Genero:</strong>
    @Model.PersonaHistorial.Genero
</p>

<p>
    <strong>Estado Civil:</strong>
    @Model.PersonaHistorial.EstadoCivil
</p>

<p>
    <strong>Domicilio:</strong>
    @Model.PersonaHistorial.Domicilio
</p>

<p>
    <strong>Hijos:</strong>
    @Model.PersonaHistorial.Hijos
</p>

<p>
    <strong>CVU:</strong>
    @Model.PersonaHistorial.CVU
</p>

<p>
    <strong>CBU:</strong>
    @Model.PersonaHistorial.CBU
</p>

<p>
    <strong>Fecha de Ingreso:</strong>
    @Model.PersonaHistorial.FechaIngreso.Date.ToString("dd/MM/yyyy")
</p>

@if (Model.PersonaHistorial.FechaEgreso != null)
{
    <p>
        <strong>Fecha de Egreso:</strong>
        @Model.PersonaHistorial.FechaEgreso.Value.Date.ToString("dd/MM/yyyy")
    </p>
}

<a asp-page="/Admin/Personas/Edit" asp-route-id="@Model.PersonaHistorial.Id" class="btn btn-primary">Editar</a>