@page
@model sueldo_rrhh.Pages.Owner.Empleados.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Empleado[0].NombreCompleto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado[0].CUIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado[0].FechaNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado[0].Genero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado[0].EstadoCivil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado[0].FechaIngreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado[0].FechaEgreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado[0].Puesto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado[0].ApplicationUser)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Empleado)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CUIL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoCivil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEgreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puesto.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>