@page
@model sueldo_rrhh.Pages.Admin.HorasExtras.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HoraExtra[0].Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraExtra[0].Horas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraExtra[0].Contrato)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.HoraExtra)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contrato.Id)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
    }
    </tbody>
</table>