@page
@model sueldo_rrhh.Pages.Admin.Contratos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Contrato[0].Persona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contrato[0].CategoriaConvenio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contrato[0].FechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contrato[0].FechaFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contrato[0].HorasSemanales)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Contrato)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Persona.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaConvenio.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorasSemanales)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>